<% unless local_assigns[:override]&.include? :page_heading %>
  <% content_for :page_heading do %>
    <header id="auth-header" class="auth-header" style="
        background-color: #15003e;
        background-image: url(<%= asset_path("bg-shapes/pattern2.svg") %>);
        background-size: initial;
        background-repeat: repeat;">
      <h1>
        <%= link_to image_tag("codefund-wg-full-256.svg", class: "mb-4", style: "height: 64px;"), "https://codefund.io" %>
        <span class="sr-only">Sign In</span>
      </h1>
      <p>Don't have a account? <a href="https://codefund.io/">Apply Now</a></p>
    </header>
  <% end %>
<% end %>

<% if user_signed_in? %>
  <%= render "shared/sidebar" %>
<% end %>

<%= yield :page_heading %>
<%= yield %>

<!-- copyright -->
<footer class="auth-footer">
  &copy; <%= Time.now.year %> All Rights Reserved.
  <a href="https://www.iubenda.com/privacy-policy/47597768" target="_blank">Privacy</a> and
  <a href="https://www.iubenda.com/privacy-policy/47597768/cookie-policy" target="_blank">Cookie</a> Policy
</footer>

