<div id="cf" class="<%= template_name %> <%= theme_name%>">
  <b><%= @creative.headline %></b>
  <%= @creative.body %>
  <a data-href="campaign_url" rel="sponsored noopener" target="_blank">
    <b><%= @creative.cta || "Learn more" %></b>
  </a>
  <img class="cf-hidden" data-src="impression_url" alt="">
  <a class="cf-hidden" data-target="powered_by_url"></a>
</div>
